.action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;

    @include respond(phone) {
        order: 2;
        // border-top: 2px solid #343a40;
        // border-bottom: 2px solid #343a40;
    }

    &__title {
        text-align: center;
        flex-basis: 100%;
        font-size: 3rem;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 400;
        font-family: 'Merienda One';
        margin-bottom: 0.5rem;

        @include respond(phone) {
        }
    }
}
