.brand {
    text-align: center;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        font-family: 'Bungee Inline';
        text-transform: uppercase;
        font-style: italic;
        font-weight: 400;
        font-size: 7rem;
        white-space: nowrap;
        color: white;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    &__tagline {
        margin-top: -2.2rem;
        font-weight: 300;
    }
}
