.brand {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__icon {
        width: 4rem;
        height: 4rem;
        animation: rotate 1s;
        margin-right: 2rem;

        &:hover {
            animation: rotate 10s infinite linear;
        }

        @include respond(phone) {
            width: 3rem;
            height: 3rem;
        }
    }

    &__title {
        font-family: 'Merienda One';
        font-weight: 300;
        font-size: 3rem;
        white-space: nowrap;
        color: #eee;

        @include respond(phone) {
            font-size: 2rem;
        }
    }
}
