.weather-current {
    display: flex;
    width: 100%;

    @include respond(phone) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &--icon {
        width: 51px;
        height: 51px;
        margin-right: 1rem;

        @include respond(phone) {
            order: -2;
        }
    }

    &--description {
        font-weight: 300;
        font-size: 2.8rem;
        line-height: 1;
        margin-bottom: 2rem;

        @include respond(phone) {
            margin-top: -0.5rem;
        }
    }
    &--content {
        @include respond(phone) {
            flex-basis: 100%;
            text-align: center;
        }
    }
    &--header {
        font-size: 2rem;
        margin-bottom: -0.25rem;

        @include respond(phone) {
            display: none;
        }
    }

    &--temperature {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: 2rem;
        font-size: 6rem;
        font-weight: 400;

        @include respond(phone) {
            order: -1;
            font-size: 4rem;
            margin-right: 1rem;
            margin-left: 0;
        }
    }
}
