.weather-forecast {
    text-align: end;
    margin-right: 2rem;
    margin-top: -2rem;

    &__type {
        font-size: 1.6rem;
        font-weight: 400;

        &:not(:first-child) {
            margin-left: 1rem;
        }
    }

    &__temp {
        font-weight: 300;
    }

    @include respond(phone) {
        margin-top: -1rem;
        margin-right: 0;
        text-align: center;
    }
}
