.particles {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -100;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 50vh;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);

    @include respond(phone) {
        height: 15vh;
        clip-path: polygon(0 0, 100% 0, 100% 11vh, 0 100%);
    }
}

.cold__particles {
    background: url('https://external-preview.redd.it/vwebCEc9meCPtx9_U38WEyZ0mB9Z4uSOuHzpwqX8NO4.jpg?auto=webp&s=168539d03e4fc149806b43abe50b70961b683b67')
        no-repeat right;
}

.cool__particles {
    background: url('https://i.redd.it/g5g7mtzvmht01.jpg') no-repeat center;
}

.warm__particles {
    background: url('https://stmed.net/sites/default/files/desert-wallpapers-27842-8787223.jpg')
        no-repeat center;
}
.particles__image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 50vh;
    opacity: 0.45;
    z-index: -50;
    clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);

    @include respond(phone) {
        height: 15vh;
        clip-path: polygon(0 0, 100% 0, 100% 11vh, 0 100%);
    }
}
