.particles {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary, 0.95),
        rgba($color-secondary, 0.95)
    );
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}
