.signup {
    cursor: pointer;
    padding: 0.9rem;
    background: rgb(9, 172, 36);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 0.1rem;
    max-width: 40rem;

    &:disabled {
        background: #343a40;
    }
    @include respond(phone) {
        font-weight: 400;
        flex-basis: 100%;
        font-size: 2rem;
    }
}
