.zipcode {
    text-align: center;
    padding: 0.6rem;
    border: none;
    border-radius: 0.1rem;
    max-width: 40rem;

    @include respond(phone) {
        padding: 1rem;
        margin-bottom: 1rem;
        flex-basis: 100%;
        font-size: 2rem;
    }
}
