*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all;
}

html {
    font-size: 62.5%;

    @include respond(deskBig) {
        font-size: 75%;
    }

    @include respond(tabLand) {
        font-size: 56.25%;
    }

    @include respond(tabPort) {
        font-size: 50%;
    }
}
