.cold {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-cold-primary, 0.95),
        rgba($color-cold-secondary, 0.95)
    );

    &--reverse {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-cold-secondary, 0.95),
            rgba($color-cold-primary, 0.95)
        );
    }
}

.cool {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-cool-primary, 0.95),
        rgba($color-cool-secondary, 0.95)
    );

    &--reverse {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-cool-secondary, 0.95),
            rgba($color-cool-primary, 0.95)
        );
    }
}

.warm {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-warm-primary, 0.95),
        rgba($color-warm-secondary, 0.95),
        rgba($color-warm-tertiary, 0.95)
    );

    &--reverse {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-warm-tertiary, 0.95),
            rgba($color-warm-secondary, 0.95),
            rgba($color-warm-primary, 0.95)
        );
    }
}
